/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: hsla(64, 8%, 42%, 0.73);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200pxs;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 3rem;
    margin: 10px 0;
    color: #fff;
}

header p {
    font-size: 1.6rem;
    color: #ddd;
}

/* Navigation styles */
nav ul {
    list-style: none;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}

/* About section styles */
#about {
    background-color: #16624b;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#about img {
    max-width: 100%;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#about p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ffffff;
}

/* Skills section styles */
#skills ul {
    list-style: none;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#skills li {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.6rem;
    color: #333;
    background-color: #10b28f64;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Projects section styles */
.project {
    margin: 20px;
    background-color:#16624b ;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.project h3 {
    font-size: 2rem;
    margin: 20px 0 10px;
    color: #000000;
}

.project p {
    font-size: 1.6rem;
    padding: 0 20px 20px;
    color: #f5f5f5;
}

/* Resume section styles */
#resume a {
    background: linear-gradient(45deg, #08010697, #000000);
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

#resume a:hover {
    background: linear-gradient(45deg, #777, #333);
}

/* Contact section styles */
#contact {
    background-color: #16624b;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#contact p {
    font-size: 1.6rem;
    margin: 10px 0;
    color:#f5f5f5;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1.2rem;
    }
}
